<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{tabTitle}}</title>
	</head>

	<body>
		{{> header}}
		<h1>{{pageTitle}}</h1>
		<p>{{capitalize 'Some text here'}}</p>
		{{> footer}}
	</body>
</html>
